
  
  .flex-column-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .login-div {
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://unsplash.com/photos/jbywvpa9vH8/download?force=true&w=1920");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .login-div .login-comps {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    padding: 2em;
    color: white;
  }
  .login-div form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
  }
  .login-div form input[type=text],
  .login-div form input[type=password] {
    margin: 0.5rem auto;
    background: rgba(80, 227, 194, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 0.5em;
    width: 400px;
    outline: none;
  }
  .login-div form input[type=text]:focus,
  .login-div form input[type=password]:focus {
    background-color: rgba(255, 255, 255, 0.329);
    color: white;
  }
  .login-div form input[type=submit] {
    background: black;
    color: white;
    border-radius: 5px;
    margin: 0.5rem auto;
    padding: 0.5rem;
    width: 250px;
    border: none;
  }
  .login-div form input[type=submit]:active {
    transform: scale(0.95);
  }
  .login-div form input[type=text]::placeholder,
  .login-div form input[type=password]::placeholder {
    color: white;
  }
  .login-div .text-center {
    text-align: center;
  }
  .login-div a {
    text-decoration: none;
    color: white;
  }
  @media (max-width: 576px) {
    .login-div {
      padding: 2rem 1.5rem !important;
    }
    .login-div .login-comps,
  .login-div input[type=text],
  .login-div input[type=password] {
      width: 100% !important;
    }
  }